#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  #container {
    max-width: 900px;
    padding: 48px 0;
    font-size: 22px;
  }
}
@media (min-width: 1400px) {
  #container {
    max-width: 1200px;
    padding: 64px 0;
    font-size: 24px;
  }
}